<h1 class="login-register-title"><%= title %></h1>

<%- messages() %>

<div class="login-register-container">
  <form class="form">
    <label for="user-email">Email:</label>
    <input type="email" name="account_email" id="user-email" required>

    <label for="user-pwd">Password:</label>
    <input type="password" name="account_password" id="user-pwd" required>

    <button type="submit">Login</button>
  </form>

  <p class="signup-link">Don't have an account? <a href="/account/register">Sign up</a></p>
</div>
