:root {
  --dark-gb: #161616;
  --light-bg: #9DA39A;
  --hover-bg: #12664F;
  --button-bg: #F26419;
  --main-color: #ED1C24;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url('/images/site/small_check.jpg');

}

#wrapper {
  width: 100%;
  max-width: 700px;
  background-color: rgb(255, 255, 255);
}

#top-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 0;
  align-items: center;
}

#top-header a {
  text-decoration: none;
  color: black;
}

.siteName,
#tools {
  min-width: 0;
  flex-shrink: 1;
  padding: 1rem 5px;
  display: block;
}

.siteName a {
  font-size: 28px;
  font-weight: 700;
}

.navLinks {
  width: 100%;
  background-color: var(--dark-gb);
}

.navLinks ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.navLinks ul li {
  padding: 1rem 5px;
}

.navLinks ul li a {
  color: white;
  text-decoration: none;
}

.hero-section {
  width: 100%;
  min-height: 380px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  background-color: white;

}

.hero-content h2 {
  padding: 1.5rem 10px;
}

.hero-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.hero-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.hero-content {
  position: relative;
}
#cta-button {
  display: inline-block;
  text-decoration: none;
  background-color: var(--button-bg);
  padding: 5px 10px;
  color: #000000;
  font-weight: bold;
  font-size: .9em;
}
#cta-button:hover {
  background-color: var(--hover-bg);
  color: white;
}

.sub-content {
  margin-left: 1rem;
  width: 100%;
  max-width: 150px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
  margin-top: 1rem;
  color: var(--hover-bg);
}

.car-section {
  display: grid;
  grid-template-areas: "review"
    "upgrade";
  gap: 2rem;
  padding: 1rem;
}

.car-review {
  grid-area: review;
}

.car-upgrade {
  grid-area: upgrade;
}

.car-section h2 {
  margin: 1rem 0;
}

.review-content ul {
  list-style-position: inside;
}

.review-content ul li {
  font-size: 14px;
  padding: 5px 0;
}

.upgradable-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 100%;
}

.image-card {
  background-color: var(--hover-bg);
  position: relative;
  height: 100px;
}

.image-card img {
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-desc {
  text-align: center;
}

.card-desc a {
  display: block;
}

footer {
  padding: 1rem;
}

/*Styling car result*/
.classification-title {
  margin: 1rem;
  font-size: 1.2em;
  font-weight: bold;
}

#inv-display {
  list-style: none;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem;
  gap: 10px;
  text-align: center;
  justify-items: center;
}

#inv-display li {
  border: 2px solid rgb(173, 173, 173);
  display: flex;
  flex-direction: column;
  width: 200px;
  height: auto;
  border-radius: 8px;
}
#inv-display li img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: center;
  display: block;
  border-radius: 8px 8px 0 0;
  flex-shrink: 0;
}
.namePrice {
  flex-shrink: 1;
  flex-grow: 1;
}
.namePrice h2 {
  font-size: 1.1em;
}
.namePrice span {
  display: block;
}
.namePrice hr {
  height: 6px;
  background: linear-gradient(to right, #333, #999);
  border: none;
  margin: 20px 0; 
}
@media screen and (min-width: 450px)
{
  #inv-display {
  grid-template-columns: repeat(2, 200px);
}
}
@media screen and (min-width: 700px) {
  #wrapper {
    border: 4px solid var(--button-bg);
    border-radius: 5px;
    margin: 1rem auto;
  }


  .navLinks ul {
    justify-content: space-around;
  }

  .car-section {
    grid-template-areas: "upgrade review";
    gap: 1rem;
  }

  #inv-display {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
}